@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body{
  margin: 0px;
  background-color: black;
}

.navbar {

  width: 100%;
  font-family: 'Roboto', sans-serif;
  
  background-color:black;
}

.navbar-ul > li {
  display: inline;
  margin-right: 10%;
}

.navbar-link {
  color:white;
  text-decoration: none;
  font-weight: bold;
}

.navbar-link:hover {
  color: grey;
}

.Header{

  height: 500px;

}
.Definition{
  width: auto;
  height: 400px;
  margin: 0px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.c1{
width: 70%;
height: 400px;
background-color: white;
float: left;
}

.c2{

  width: 30%;
  height: 400px;
  background-color: white;
  float: right;
  margin: 0;
  padding: 0;

}

#img1{
  width: 400px;
  height: 220px;
  align: center;
  margin-top: 90px;

}

.team{
  width: 300px;
  height: 300px;
  align: center;
  margin-left: 30px;
  margin-top: 20px;
 
}


#refImg1{

    font-family: 'Tajawal';
    font-size: 12px;
    text-align: center;

}

.c1Title {

  width: 100%;
  height: 10%;

  align:center;
  margin: 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;



}

.c11{
  width: 45%;
  height: 85%;
  background-color: white;
  float: left;
  text-align: justify;
  font-family: 'Tajawal';
  font-weight:lighter;
  margin-left: 20px;
}

.c12{
  width: 46%;
  height: 85%;
  background-color: white;
  float: right;
  text-align: justify;
  font-family: 'Tajawal';
  font-weight:lighter;
 

}

#txt1 , #txt2{
 padding: 5%;

}

.layer{
  width: auto;
  height: 840px;
  background-color: black;
}

.layer2{

  width: auto;
  height: 800px;
  background-color: blue;

}

.sublayer2{

  width: 50%;
  height: 800px;
  background-color: black;
 
  
}

#tituloObjetivo{
  
  color: white;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 50px;

}

#textoObjetivo{
  
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0%;

}

.layer3{

  width: auto;
  height: 800px;
  background-color:#FF7203;
}

.layer4{

  width: auto;
  height: 850px;
  background-color:#40FF03;
}

.team1{
  width: 360px;
  height: 500px;
  background-color: black;
  float:left;
}
.team2{
  width: 360px;
  height: 500px;
  background-color:black;
  float: right;
}
.team3{
  width: 360px;
  height: 500px;
  background-color: black;
  float: right;
}

.textoTeam  {
 

 
  text-align: center;
  font-size: 20px;
  font-family: 'Tajawal';
  color: white;
  margin-bottom: 0%;
 

}
.carrera{

  text-align: center;
  font-size: 15px;
  font-family: 'Tajawal';
  color: white;
  margin-top: 0%;

}
.team4{
  width: 360px;
  height: 500px;
  background-color:black;
  float: right;
}

.subl41{

  width: auto;
  height: 350px;
  background-color:black;
}

.equipoDesarrollo{

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin-top: 0%;
  margin-bottom: 0%;


}
.equipoDesarrollo2{

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-top: 0%;

}
.subLayer1{
  width: 100%;
  height: 100%;
  background-color: black;
  float: left;
}
#textsl1{
  font-family: 'Orbitron';
  color: white;
  font-size: 130px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  margin-top: 50px;

}
#textsl2{
  font-family:'Orbitron';
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
  margin-top: 0px;
}
#textsl3{
  font-family:'Orbitron';
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
  margin-top: 0px;
}

.conLayer{
  width: 400px;
  height: 300px;
  background-color: black;
  margin-left: 37%;
  margin-top: 100px;
}

#txtlc{
  font-family:'Orbitron';
  color: white;
  font-size: 20px;
  text-align: center;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  font-weight: lighter;
  margin-top: 0px;


}

.btn-liquid {
	display: inline-block;
	position: relative;
	width: 240px;
	height: 60px;

	border-radius: 27px;

	color: #fff;
	font: 700 14px/60px "Droid Sans", sans-serif;
	letter-spacing: 0.05em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.btn-liquid .inner {
	position: relative;

	z-index: 2;
}

.btn-liquid canvas {
	position: absolute;
	top: -50px;
	right: -50px;
	bottom: -50px;
	left: -50px;

	z-index: 1;
}
 .botonProyecto{

  margin-left: 50%;
 }

 #c{
	position: absolute;
	top: 0;
  left: 0;
  height: 500px;
  padding-left: 240px;
}